{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if field.property in ['buy', 'sell'] %}
    <input class="quick-change" value="{{ field.value }}" data-property-name="{{ field.property }}"/>
{% else %}
    {{ field.formattedValue }}
{% endif %}
