{% extends 'base.html.twig' %}

{% block title %}Пункты обмена валют «Som Exchange»{% endblock %}

{% block stylesheets %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#755d99">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/images/1.svg">
    <meta content="website" property="og:type">
    <meta content="/images/1.svg" property="og:image">
    <meta content="image/svg" property="og:image:type">
    <meta content="152" property="og:image:width">
    <meta content="152" property="og:image:height">

    <meta content=" Пункты обмена валют «Som Exchange»"
          property="og:site_name">

    <link rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.css?version=3') }}">
    <link rel="stylesheet" href="{{ asset('components/owl.carousel/dist/assets/owl.carousel.min.css?version=3') }}">
    <link rel="stylesheet" href="{{ asset('components/owl.carousel/dist/assets/owl.theme.default.min.css?version=3') }}">
    <link rel="stylesheet" href="{{ asset('components/animate.css/animate.min.css?version=3') }}">
    <link rel="stylesheet" href="{{ asset('components/qtip2/jquery.qtip.min.css?version=3') }}">
    <link rel="stylesheet" href="{{ asset('components/equialti/css/equialti.css?version=3') }}">
    <link rel="stylesheet" href="{{ asset('components/ladda-bootstrap/dist/ladda-themeless.min.css?version=3') }}">
    <link rel="stylesheet" href="{{ asset('components/magnific-popup/dist/magnific-popup.css?version=3') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css@382153.css?version=3') }}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            font-weight: initial;
        }
    </style>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Som Exchange",
            "url": "https://mig.kz",
            "logo": "https://mig.kz/images/logo-fullcolor.png"
        }
    </script>
{% endblock %}

{% block body %}
    <div class="header-nightsky">
        <nav class="navbar navbar-default" style="margin-bottom:0px">
            <div class="container">
                <a class="navbar-brand" href="#"><img style="height: 35px;margin-top: -10px;" src="{{ asset('images/logo.png') }}" alt="Som Exchange" title="Som Exchange"></a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>Курсы Валют в Алмате</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="page world">
        <div class="stage">
            <div class="content-layer">
                <div class="content">
                    <div class="vertical-alignment">
                        <div class="middle">
                            <header class="page-header">
                                <div class="container">
                                    <div class="row widgets-row">
                                        <div class="col-xs-12 col-sm-4">
                                            <style>
                                                .panel-group .panel{
                                                    border-radius: 0px;
                                                    border: 0px none;
                                                    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.133) inset;
                                                }
                                                .panel-body{
                                                    padding: 30px;
                                                    color: #999;
                                                }
                                                .panel-heading{
                                                    padding: 0;
                                                }
                                                .panel-title{
                                                    position: relative;
                                                }
                                                .panel-title > a{
                                                    display: block;
                                                    padding: 11px 35px;
                                                    background: #656565;
                                                    color:#fff;
                                                    background: #9c5bb7;
                                                    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.133) inset;
                                                }
                                                .panel-title a.collapsed{
                                                    background: #34495e;
                                                    color:#fff;
                                                    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.133) inset;
                                                }
                                                .panel-title > a:hover,
                                                .panel-title > a:focus{
                                                    text-decoration: none;
                                                    outline: none;
                                                }

                                                .panel-body ul {
                                                    margin-left:-20px
                                                }
                                                .panel-body ul li :first-child{
                                                    border-top: 0;
                                                    border-top-left-radius: 3px;
                                                    border-top-right-radius: 3px;
                                                }
                                                .panel-body ul li {
                                                    position: relative;
                                                    display: block;
                                                    padding: 10px 15px;
                                                    margin-bottom: -1px;
                                                    border-bottom: 1px solid #ddd;
                                                }
                                            </style>
                                            <div class="demo">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    {% for locate in location %}
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                                                                <h4 class="panel-title">
                                                                    <a class="{{ loop.index != 1 ? 'collapsed' : '' }}" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="{{ loop.index == 1 ? 'true' : 'false' }}" aria-controls="collapse{{ loop.index }}">
                                                                        {{ locate.title }}
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapse{{ loop.index }}" class="panel-collapse collapse {{ loop.index == 1 ? 'in' : '' }}" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                                                                <div class="panel-body">
                                                                    {{ locate.description|raw }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <style>
                                                .informer header {
                                                    padding: 0;
                                                }

                                                body .page-header .informer {
                                                    border: none;
                                                }

                                                .informer .header {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    padding-top: 10px;
                                                    padding-bottom: 10px;
                                                    align-items: center;
                                                    text-align: center;
                                                }

                                                .informer .column {
                                                    font-size: 1.2em;
                                                    font-weight: bold;
                                                    width: 100%;
                                                }

                                                .informer .logo {
                                                    width: 100%;
                                                }

                                                .informer .logo img {
                                                    max-width: 100px;
                                                }
                                            </style>

                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#additional">Розничные</a></li>
                                                <li><a data-toggle="tab" href="#menu1">Оптовые</a></li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="additional" class="tab-pane fade in active">
                                                    <div class="informer">
                                                        <header class="header">
                                                            <div class="column">
                                                                Курсы <br>
                                                                <span style="white-space: nowrap">сатып алу</span>
                                                                <span style="white-space: nowrap">покупка</span>
                                                            </div>
                                                            <div class="logo">
                                                                <img src="{{ asset('images/03.svg') }}" alt="Som Exchange" title="Som Exchange">
                                                            </div>
                                                            <div class="column">
                                                                Валют <br>
                                                                <span style="white-space: nowrap">сату</span><br>
                                                                <span style="white-space: nowrap">продажа</span><br>
                                                            </div>
                                                        </header>
                                                        <table>
                                                            {% set i = 0 %}
                                                            {% for exchange in retailExchanges %}
                                                                    <tr>
                                                                        <td class="buy delta-neutral" data-hasqtip="14">{{ exchange.buy }}</td>
                                                                        <td class="currency" style="font-size: 1em">
                                                                            {{ exchange.title }}
                                                                            <div class="description" style="font-size: 80%;">
                                                                                {{ exchange.description }}
                                                                            </div>
                                                                        </td>
                                                                        <td class="sell delta-neutral" data-hasqtip="15">{{ exchange.sell }}</td>
                                                                    </tr>
                                                            {% endfor %}
                                                        </table>
                                                        <footer>
                                                            <div class="text-center additional">
                                                                <a style="color: #ffffff" href="#spoiler-1" data-toggle="collapse">ДОПОЛНИТЕЛЬНЫЕ ВАЛЮТЫ</a></div>
                                                                <div class="collapse" id="spoiler-1">
                                                                    <table>
                                                                        {% for exchange in additionalExchanges %}
                                                                                <tr>
                                                                                    <td class="buy delta-neutral" data-hasqtip="14">{{ exchange.buy }}</td>
                                                                                    <td class="currency" style="font-size: 1em">
																						{{ exchange.title }}
                                                                                        <div class="description" style="font-size: 80%;">
																							{{ exchange.description }}
                                                                                        </div>
                                                                                    </td>
                                                                                    <td class="sell delta-neutral" data-hasqtip="15">{{ exchange.sell }}</td>
                                                                                </tr>
                                                                        {% endfor %}
                                                                    </table>
                                                                </div>
                                                        </footer>
                                                    </div>
                                                </div>
                                                <div id="menu1" class="tab-pane fade">
                                                    <div class="informer">
                                                        <header class="header">
                                                            <div class="column">
                                                                Курсы <br>
                                                                <span style="white-space: nowrap">сатып алу</span>
                                                                <span style="white-space: nowrap">покупка</span>
                                                            </div>
                                                            <div class="logo">
                                                                <img src="{{ asset('images/03.svg') }}" alt="Som Exchange" title="Som Exchange">
                                                            </div>
                                                            <div class="column">
                                                                Валют <br>
                                                                <span style="white-space: nowrap">сату</span><br>
                                                                <span style="white-space: nowrap">продажа</span><br>
                                                            </div>
                                                        </header>
                                                        <table>
                                                            {% for exchange in exchanges %}
                                                                {% if exchange[0].getTypeId.getId == 1  %}
                                                                    <tr>
                                                                        <td class="buy delta-neutral" data-hasqtip="14">{{ exchange.buy }}</td>
                                                                        <td class="currency" style="font-size: 1em">
                                                                            {{ exchange.title }}
                                                                            <div class="description" style="font-size: 80%;">
                                                                                {{ exchange.description }}
                                                                            </div>
                                                                        </td>
                                                                        <td class="sell delta-neutral" data-hasqtip="15">{{ exchange.sell }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-4">
                                            <div class="calculator-wrapper">
                                                <div class="calculator">
                                                    <button class="close">×</button>

                                                    <h2>
                                                        <img src="{{ asset('images/calculator.png') }}"> <br>
                                                        Калькулятор
                                                    </h2>

                                                    <table>
                                                        <tr>
                                                            <td class="mode-label"></td>
                                                            <td>по курсу</td>
                                                            <td></td>
                                                            <td class="result-label"></td>
                                                        </tr>

                                                        <tr class="values">
                                                            <td>
                                                                <input class="input" type="text">&nbsp;<span
                                                                        class="currency-label"></span>
                                                            </td>
                                                            <td>
                                                                <span class="rate"></span>
                                                            </td>
                                                            <td>=</td>
                                                            <td>
                                                                <input class="output" type="text">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('components/owl.carousel/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('components/qtip2/jquery.qtip.min.js') }}"></script>
    <script src="{{ asset('components/wow/dist/wow.min.js') }}"></script>
    <script src="{{ asset('components/equialti/js/equialti.js') }}"></script>
    <script src="{{ asset('components/ladda-bootstrap/dist/spin.min.js') }}"></script>
    <script src="{{ asset('components/ladda-bootstrap/dist/ladda.min.js') }}"></script>
    <script src="{{ asset('components/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/mig.js') }}"></script>

    <script>
        var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            x = w.innerWidth || e.clientWidth || g.clientWidth,
            y = w.innerHeight|| e.clientHeight|| g.clientHeight;

        if (x >= 768) {
            $('.calculator').addClass('visible');
        }
    </script>
{% endblock %}
