/**
 * @file
 * Main stylesheet
 */
.page {
  background: url("../images/page-bg.png") repeat-y center top #dbdbdb;
  background-size: 100% auto;
  padding-bottom: 80px;
}
body .page-header {
  border: 0;
  margin: 0;
  padding: 20px 0;
}
body .page-header .slogan-k,
body .page-header .slogan-r {
  color: #755d99;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.25em;
}
body .page-header .slogan-k p,
body .page-header .slogan-r p {
  margin: 0;
}
body .page-header .slogan-k {
  text-align: right;
}
body .page-header .informer {
  margin: 20px auto;
}
body .page-header .main-menu-wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 40px 0;
}
body .page-header .external-rates-wrapper {
  margin: 30px 0;
}
@media (min-width: 768px) {
  body .page-header .slogan-row {
    margin-bottom: -80px;
  }
  body .page-header .slogan-row > div {
    padding-top: 25px;
  }
  body .page-header .widgets-row .informer {
    position: relative;
  }
  body .page-header .main-menu-wrapper {
    padding: 0px 0 20px;
  }
  body .page-header .main-menu-wrapper .main-menu ul {
    border-right: 0;
  }
  body .page-header .external-rates-wrapper {
    margin: 20px 0 0;
  }
}
.page-footer {
  padding: 40px 0;
  text-align: center;
}
.page-footer p {
  margin: 10px 0;
}
@media (min-width: 768px) {
  .page-footer {
    text-align: left;
  }
  .page-footer address {
    padding-top: 10px;
  }
  .page-footer .copyright {
    margin-top: 90px;
  }
}
.informer {
  background: #755d99;
  border: 3px solid #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
          box-shadow: 0 0 3px rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
}
.informer header {
  padding: 10px;
  text-align: center;
}
.informer header img {
  max-width: 100px;
}
.informer header span {
  font-size: 81%;
  font-weight: bold;
}
.informer header span:first-child {
  float: left;
}
@media (min-width: 768px) and (max-width: 991px) {
  .informer header span {
    line-height: 20px;
  }
}
.informer date {
  display: block;
  font-size: 1.25em;
  margin: 15px 0 0;
  text-align: center;
}
.informer table {
  margin: 0 auto;
  width: 90%;
}
.informer table td {
  border: 10px solid #755d99;
  text-align: center;
  width: 33%;
}
.informer table .buy,
.informer table .sell {
  background: #fff;
  color: #755d99;
  cursor: pointer;
  font-size: 1.25em;
}
.informer table .buy:hover,
.informer table .sell:hover {
  background: #d9ebf6;
  color: #565656;
}
.informer table .delta-negative {
  color: #f00;
}
.informer table .delta-positive {
  color: #35c035;
}
.informer table .currency {
  font-size: 1.5em;
  font-weight: bold;
}
.informer footer {
  margin-bottom: 10px;
  margin-top: 10px;
}
.informer footer p {
  letter-spacing: 3px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.informer-additional {
  background: #755d99;
  border: 3px solid #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
          box-shadow: 0 0 3px rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
}
.informer-additional date {
  display: block;
  font-size: 1.25em;
  margin: 15px 0 0;
  text-align: center;
}
.informer-additional table {
  margin-bottom: 0;
}
.informer-additional table thead tr th {
  text-align: center;
}
.informer-additional table td {
  border: 10px solid #755d99;
  text-align: center;
  width: 33%;
}
.informer-additional table .buy,
.informer-additional table .sell {
  background: #fff;
  color: #755d99;
  cursor: pointer;
  font-size: 1.25em;
}
.informer-additional table .buy:hover,
.informer-additional table .sell:hover {
  background: #d9ebf6;
  color: #565656;
}
.informer-additional table .delta-negative {
  color: #f00;
}
.informer-additional table .delta-positive {
  color: #35c035;
}
.informer-additional table .currency {
  font-size: 1.5em;
  font-weight: bold;
}
.main-menu {
  margin: 0 auto;
  max-width: 400px;
}
.main-menu .menu-bar-controller {
  background: #755d99;
  color: #fff;
  display: none;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
}
.main-menu .menu-bar-controller i {
  background: url("../images/menu-dropdown.png") no-repeat center center transparent;
  display: inline-block;
  width: 20px;
}
.main-menu ul {
  border-left: 2px solid #666;
  border-right: 2px solid #666;
  margin: 0;
  padding: 0px 0;
}
.main-menu ul li {
  color: #755d99;
  list-style: none;
  padding: 7px 30px;
}
.main-menu ul li a {
  text-decoration: none;
  color: #3b235f;
  font-weight: 600;
  text-transform: uppercase;
}
.main-menu ul li a:hover {
  color: #5d536d;
}
.main-menu ul li.current {
  background: url("../images/arrow-left.png") no-repeat left center;
}
.main-menu ul.seamless li {
  background: transparent !important;
}
.main-menu.floating {
  background: #fff;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
          box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  overflow: hidden;
  position: fixed;
  top: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  z-index: 1000;
}
.main-menu.floating ul {
  border: 1px solid #eee;
  border-top: 0;
}
.main-menu.floating .menu-bar-controller {
  display: block;
}
.external-rates {
  background: #fff;
  border: 1px solid #aaa;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
          box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  padding: 20px;
  text-align: center;
}
.external-rates h3 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
  text-transform: uppercase;
}
.external-rates .date {
  margin: 0 0 20px;
}
.external-rates ul {
  margin: 0;
  padding: 0;
}
.external-rates ul li {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}
.external-rates ul li h4 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
  text-transform: uppercase;
}
.secondary-menu {
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}
.secondary-menu ul {
  margin: 0;
  padding: 0;
}
.secondary-menu li {
  display: inline-block;
  padding: 10px 20px;
}
.secondary-menu li a {
  color: inherit;
  text-transform: uppercase;
}
.secondary-menu li.current a {
  color: #755d99;
}
.page-content {
  padding-top: 60px;
}
.calculator-wrapper {
  position: relative;
}
.calculator {
  background: #e4ebf1;
  border: 3px solid #fff;
  border-radius: 2px;
  left: 10px;
  margin: 20px 0;
  opacity: 0;
  padding: 20px 5px;
  position: absolute;
  right: 10px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  top: -300px;
  visibility: hidden;
}
.calculator.visible {
  opacity: 1;
  visibility: visible;
}
.calculator .close {
  background: #755d99;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  height: 30px;
  line-height: 1em;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  vertical-align: middle;
  width: 30px;
}
.calculator h2 {
  color: #755d99;
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0 0 10px;
  text-align: center;
  text-transform: uppercase;
}
.calculator table {
  text-align: center;
  width: 100%;
}
.calculator table td {
  padding: 3px 5px;
}
.calculator table .values {
  font-size: 1.25em;
  line-height: 1.25em;
  vertical-align: baseline;
}
.calculator table input {
  border: 1px solid #ccc;
  padding: 2px 5px;
  width: 70px;
}
.calculator table input.output {
  width: 99px;
}
@media (min-width: 768px) {
  .calculator {
    left: auto;
    position: relative;
    right: auto;
    top: 0;
  }
}
.calculator-additional {
  background: #e4ebf1;
  border: 3px solid #fff;
  border-radius: 2px;
  left: 10px;
  margin: 20px 0;
  opacity: 0;
  padding: 20px 5px;
  position: absolute;
  right: 10px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  top: -300px;
  visibility: hidden;
}
.calculator-additional.visible {
  opacity: 1;
  visibility: visible;
}
.calculator-additional .close {
  background: #755d99;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  height: 30px;
  line-height: 1em;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  vertical-align: middle;
  width: 30px;
}
.calculator-additional h2 {
  color: #755d99;
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0 0 10px;
  text-align: center;
  text-transform: uppercase;
}
.calculator-additional table {
  text-align: center;
  width: 100%;
}
.calculator-additional table td {
  padding: 3px 5px;
}
.calculator-additional table .values {
  font-size: 1.25em;
  line-height: 1.25em;
}
.calculator-additional table input {
  border: 1px solid #ccc;
  padding: 2px 5px;
  width: 70px;
}
.calculator-additional table input.output {
  width: 99px;
}
@media (min-width: 768px) {
  .calculator-additional {
    left: auto;
    position: relative;
    right: auto;
    top: 0;
  }
}
.graph {
  background: url("../images/archive-graph.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  margin-left: 1em;
  vertical-align: middle;
  width: 1.5em;
}
.about-blue-stripes {
  background: #0559ab;
  color: #fff;
  margin-bottom: -80px;
}
.about-blue-stripes h1 {
  margin-bottom: 40px;
  text-transform: uppercase;
}
.about-blue-stripes p {
  text-align: justify;
}
.about-blue-stripes a {
  color: inherit;
  text-decoration: underline;
}
.about-blue-stripes .row > div {
  padding-bottom: 30px;
  padding-top: 30px;
}
.about-blue-stripes .row > div:first-child {
  background: #0f65d8;
}
@media (min-width: 768px) {
  .about-blue-stripes .row > div:first-child {
    background: transparent;
  }
}
@media (min-width: 992px) {
  .about-blue-stripes .row > div:first-child {
    padding-right: 40px;
  }
  .about-blue-stripes .row > div:last-child {
    padding-left: 40px;
  }
}
@media (min-width: 768px) {
  .about-blue-stripes .stripe {
    background-image: -webkit-gradient(linear, left top, right top, from(#0f65d8), color-stop(50%, #0f65d8), color-stop(50.0001%, #0559ab), to(#0559ab));
    background-image: linear-gradient(to right, #0f65d8 0%, #755d99 50%, #0559ab 50.0001%, #0559ab 100%);
    min-height: 460px;
  }
  .about-blue-stripes .stripe-reverse {
    background-image: -webkit-gradient(linear, left top, right top, from(#0559ab), color-stop(50%, #0559ab), color-stop(50.0001%, #755d99), to(#755d99));
    background-image: linear-gradient(to right, #0559ab 0%, #0559ab 50%, #755d99 50.0001%, #755d99 100%);
  }
}
.about-blue-stripes .mission h1 {
  background: url("../images/about/mission.png") no-repeat right center;
}
.about-blue-stripes .philosophy h1 {
  background: url("../images/about/philosophy.png") no-repeat right center;
}
.about-blue-stripes .security h1 {
  background: url("../images/about/security.png") no-repeat right center;
}
.about-blue-stripes .equipment h1 {
  background: url("../images/about/equipment.png") no-repeat right center;
}
.about-blue-stripes .discounts h1 {
  background: url("../images/about/discounts.png") no-repeat right center;
}
.about-blue-stripes .personnel h1 {
  background: url("../images/about/personnel.png") no-repeat right center;
}
.page-title {
  border-bottom: 2px solid #444;
  color: #444;
  line-height: 1em;
  margin: 0 0 20px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.blue-text {
  color: #755d99;
}
.notice-text {
  font-size: 0.85em;
  line-height: 1.25em;
}
.content-page .row > div {
  margin-bottom: 20px;
}
.blue-action {
  background: #755d99;
  border: 0;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
  min-width: 220px;
  padding: 0.5em 0;
  text-align: center;
  text-transform: uppercase;
}
.blue-action:hover,
.blue-action:focus {
  background: #287ef0;
  text-decoration: none;
}
.blue-action.oneline {
  padding: 1em;
}
.feedback-form .trap {
  display: none;
}
.cv-form {
  background: #fff;
  border: 1px solid #ddd;
  margin: 40px auto 20px;
  max-width: 800px;
  padding: 20px;
}
.cv-form h3 {
  margin-top: 60px;
}
.cv-form .date label {
  display: block;
}
.cv-form .date select {
  display: inline-block;
  margin-right: 20px;
  width: 200px;
}
.cv-form .form-experience-group {
  border-bottom: 1px solid #ddd;
  margin: 0 0 20px;
  padding: 0 0 20px;
}
.cv-form .form-experience-group .date {
  margin: 1em 0;
}
.cv-form .form-experience-group.hidden {
  display: none;
}
.cv-form .form-add-experience {
  background: #755d99;
  border: 0;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 20px auto;
  padding: 1em 2em;
  text-align: center;
}
.view-news .view-content:after {
  clear: both;
  content: '';
  display: table;
}
@media (min-width: 1000px) {
  .view-news .views-row {
    float: left;
    margin-bottom: 30px;
    width: 45%;
  }
  .view-news .views-row:nth-child(odd) {
    clear: both;
    margin-right: 10%;
  }
}
.view-news .content {
  text-align: justify;
}
.view-news h2 {
  color: #755d99;
  font-size: 1.25em;
  line-height: 1.25em;
}
.view-news h2 a {
  color: inherit;
}
.view-news .element-invisible {
  display: none;
}
article.node-news-full {
  text-align: justify;
}
article.node-news-full > header {
  display: none;
}
.node .submitted {
  background: #755d99;
  color: #fff;
  display: inline-block;
  padding: 3px 10px;
}
.node .node-readmore {
  display: none;
}
.pagination li a,
.pager li a,
.pagination li span,
.pager li span {
  border: 0;
}
.pagination .active a,
.pager .active a,
.pagination .pager-current,
.pager .pager-current {
  background: url("../images/paginator-active.png") no-repeat center bottom transparent;
  color: #333;
}
.pagination .active a:hover,
.pager .active a:hover,
.pagination .pager-current:hover,
.pager .pager-current:hover,
.pagination .active a:active,
.pager .active a:active,
.pagination .pager-current:active,
.pager .pager-current:active {
  background-color: transparent;
  color: #333;
}
.pagination .pager-current,
.pager .pager-current {
  padding: 9px 12px;
}
#archive-search-form .form-group {
  margin-right: 15px;
}
#archive-search-results table {
  font-size: 0.8em;
  line-height: 1.25em;
}
#archive-search-results tr {
  border: 0;
}
#archive-search-results th {
  background: #e4ecf1;
  border: 1px solid #ccf;
  text-align: center;
}
#archive-search-results td {
  border: 1px solid #ccf;
  text-align: center;
}
#archive-search-results .archive-pagination {
  text-align: center;
}
.index-content section.advantages {
  padding-bottom: 40px;
  text-align: justify;
}
.index-content section.advantages .advantage {
  margin: 0 auto 40px;
  max-width: 90%;
}
.index-content section.advantages .image {
  text-align: center;
}
.index-content section.advantages h1 {
  color: #755d99;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.25em;
  margin: 30px 0;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .index-content section.advantages .row {
    background: url("../images/vertical-line.gif") repeat-y 33% top, url("../images/vertical-line.gif") repeat-y 67% top;
  }
}
.index-content section.contacts {
  padding: 80px 0 0;
}
.index-content section.contacts .contact {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0 auto 40px;
  max-width: 460px;
  text-align: center;
}
.index-content section.contacts .contact h2 {
  color: #755d99;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 360px;
  text-transform: uppercase;
}
.index-content section.contacts .contact .desc {
  margin: 0;
  min-height: 120px;
}
.index-content section.contacts .contact a {
  font-size: 1em;
}
@media (min-width: 768px) {
  .index-content section.contacts .row {
    background: url("../images/vertical-line.gif") repeat-y 50% top;
  }
}
.index-content section.map {
  height: 600px;
  position: relative;
}
.index-content section.map a {
  color: inherit;
}
.index-content section.map .map-container,
.index-content section.map .map-container > .map {
  height: 100%;
  position: relative;
}
.index-content section.addresses {
  border-top: 2px solid rgba(255,255,255,0.5);
  margin-top: -100px;
  padding: 0 0 40px;
  position: relative;
  z-index: 101;
}
.index-content section.addresses .address-list {
  background: #0f9bd8;
  color: #fff;
  margin: 0;
  padding: 40px 20px;
}
.index-content section.addresses .address-list li {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0;
  min-height: 100px;
  min-width: 300px;
  padding: 0 40px;
  width: 25%;
}
.index-content section.addresses .address-list h5 {
  font-weight: bold;
  margin: 0;
}
.index-content section.addresses .address-list .image {
  display: none;
}
.index-content section.addresses .address-list p {
  margin: 0;
}
.index-content section.addresses .address-list a {
  color: #224a80;
}
.node-wave .content img {
  height: auto !important;
  max-width: 100%;
}
.node-wave .content > ul li {
  margin-bottom: 0.5em;
}
.node-wave .content > ul a {
  background: url("../images/wave-link-bg.png") no-repeat right center #f00;
  display: inline-block;
  max-width: 500px;
  padding-right: 5em;
  vertical-align: top;
}
.node-wave .content > ul a:visited {
  background-color: #fff;
}
.wave-menu ul {
  background: #fff;
}
.wave-menu ul li {
  margin-bottom: 0.5em;
}
.wave-menu ul a {
  background: url("../images/wave-link-bg.png") no-repeat right center #f00;
  display: inline-block;
  padding-right: 3em;
  vertical-align: top;
}
.wave-menu ul a:visited {
  background-color: #fff;
}
.wave-menu ul a.active {
  color: #333;
}
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}

.hide + label {
    border-bottom: 1px dotted;
    padding: 0;
    cursor: pointer;
    display: inline-block; 
}

.hide:checked + label {
    color: red;
    border-bottom: 0;
}

.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}